.top {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;

  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
  background-color: #fff;
}

.NavLeft,
.NavRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavLeft {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavImg {
  width: 30px;
  height: 30px;
  color: #444;
  object-fit: cover;
}

.NavSearchIcon {
  font-size: 25px;
  color: #444;
  cursor: pointer;
}

.NavCenter {
  flex: 6;
  align-items: center;
  justify-content: center;
}

.NavIcons {
  cursor: pointer;
  margin-right: 10px;
  color: #444;
}

.NavCenter {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul > li {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: #444;
}
