@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.SideBar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  list-style: 20px;
  text-align: center;
}

.sideBarItem > img {
  margin-top: 15px;
  width: 250px;
  height: 270px;
  border-radius: 10px;
  object-fit: cover;
  filter: drop-shadow(20px 20px 10px rgb(169, 217, 171));
}

.sideBarItem > p {
  padding: 30px;
}

.sideBarList {
  list-style-type: none;
  margin-bottom: 30px;
}

.sideBarListItems {
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.sideBarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SideBarIcons {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
